<h1> APPT SHOW </h1>
DR: <h2><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor_id) %></h2>
Patient: <h2><%= link_to @appointment.patient.name, patient_path(@appointment.patient_id) %></h2>

Date/Time: <p><%= @appointment.appointment_datetime.strftime("%B %d, %Y %H:%M") %></p>
